
  <div class="container">
    <div class="footer__inner">
        <div class="footer-top">
          <div class="row row-cols-lg-1 gy-lg-3">
           <div class="col col-3">
              <div class="footer-media">
                <a href="./" class="logo footer__logo" >
                  <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
                  <h1 class="logo__title">grocerymart</h1>
                </a>
                <p class="footer-media__desc">Food, drinks, groceries, and more available for delivery and pickup.</p>
                <div class="footer-media__social-list ">
                  <button class="footer-media__social-item">
                    <img src="../assets/icon/facebook.svg" alt="" class="footer-media__link " />
                  </button>
                  <button class="footer-media__social-item">
                    <img src="../assets/icon/linked.svg" alt="" class="footer-media__link" />
                  </button>
                  <button class="footer-media__social-item">
                    <img src="../assets/icon/twiter.svg" alt="" class="footer-media__link" />
                  </button>
                  <button class="footer-media__social-item">
                    <img src="../assets/icon/instargram.svg" alt="" class="footer-media__link" />
                  </button>
                </div>
              </div>
           </div>
            <div class="col col-2 offset-2 offset-xl-1 offset-lg-0">
             
               <a href=""> <h3 class="footer-content__heading">Get Started</h3></a>
                <ul class="footer-content__list">
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">FoodEats Sign In</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">FoodEats Sign Up</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Become a Rider</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Become a Partner</a>
                </li>
              </ul>
            </div>
            <div class="col col-1 col-xl-2 ">
             
               <a href=""> <h3 class="footer-content__heading">Get Help</h3></a>
                <ul class="footer-content__list">
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Resources</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Support</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link"> Contact</a>
                </li>
              </ul>
            </div>
            <div class="col col-2 col-xl-2">
               <a href=""> <h3 class="footer-content__heading">Company</h3></a>
              <ul class="footer-content__list">

                <li class="footer-content__item">
                  <a href="" class="footer-content__link">About Us</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Customer Rights</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Career</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Press</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Blog</a>
                </li>
              </ul>
            </div>
            <div class="col col-2">
                <a href=""><h3 class="footer-content__heading">FootEats For</h3></a>
              <ul class="footer-content__list">
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Enterprise</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">For Small Business</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Personal</a>
                </li>
                <li class="footer-content__item">
                  <a href="" class="footer-content__link">Riders</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <span class="footer__coppy-right">Copyright © 2022 UIHUT all rights reserved.</span>
            <a href="#!" class="footer__policy">Privacy Policy</a>
            <a href="#!" class="footer__term-condition">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>

