@use "../abstracts";
.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 64px;
  padding: 20px;
  border-radius: 10px;
  background: var(--breadcrumb-detail-bg);
  box-shadow: 0px 20px 60px 10px var(--breadcrumb-shadow);
  gap: 20px;
  @include abstracts.screen(md) {
    gap: 16px;
    border-radius: 20px;
  }
  &__link {
    color: #9e9da8;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    &--current {
      color: var(--breadcrumb-link-current-color);
    }
  }
}
