@use "../abstracts";
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.icon {
  filter: var(--icon-color);
}
a,
button,
input,
textarea,
section,
img {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}
.container {
  @include abstracts.screen(sm) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
